[submodule "lib/facil.io"]
	path = lib/facil.io
	url = https://github.com/boazsegev/facil.io
[submodule "lib/tomlc99"]
	path = lib/tomlc99
	url = https://github.com/GlitchedPolygons/tomlc99
[submodule "lib/cecies"]
	path = lib/cecies
	url = https://github.com/GlitchedPolygons/cecies
[submodule "lib/tfac"]
	path = lib/tfac
	url = https://github.com/GlitchedPolygons/TFAC.git
[submodule "lib/argon2"]
	path = lib/argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
[submodule "lib/ed25519"]
	path = lib/ed25519
	url = https://github.com/GlitchedPolygons/GlitchEd25519
